.connect_info_wrapper, .disconnect_button {
	margin: 20px;
}

.retry_button, .back_button {
	margin-left: 20px;
	margin-right: 20px;
}

.retry_button {
	margin-bottom: 10px;
}

.back_button {
	margin-bottom: 20px;
}

.connecting_muted {
	color: #999;
}

.connect_circle_wrapper {
	margin-bottom: 80px;
}

.connect_status, .connect_status_connected, .connect_status_error {
	font-size: 25px;
}

.connect_location {
	font-size: 16px;
	color: #999;
}
