.main_header {
	font-size: 28px;
	margin: 20px 0;
}

.main_muted {
	color: #999;
	font-size: 17px;
}

.location_list_spinner {
	min-height: 64px;
	min-width: 64px;
	margin-bottom: 10px;
}

.location_list_wrapper {
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
}

.location_list {
	background-color: transparent;
}

.location_list row {
	padding: 5px;
	border-radius: 5px;
}

.connect_button {
	margin: 20px;
}

.error_icon {
	margin-bottom: 20px;
}

.error_icon, .error_label {
	color: #f14a60;
}

.connect_info_wrapper {
	margin: 20px;
}

.connect_info_prop_label, .connect_info_value_label {
	font-size: 14px;
}

.connect_info_value_label {
	color: #999;
}

.connect_info_prop_label {
	font-weight: bold;
}
